div.row {
	padding: 20px;
	max-height: 435px; 
	overflow-y: scroll;
	overflow-x: hidden;
}

div.row::-webkit-scrollbar {
	width: 8px;
}

div.row::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

div.row::-webkit-scrollbar-thumb {
	background: #18a566;
	border-radius: 10px;
}

div.row::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}